:root{
    --dark-grey: #202430;
    --dark-grey2: #282d3b;
    --secondary-grey: #4e586e;
    --off-white: #bababa;    
    --white: #fff;
    --red: #3448fd;
    --orange: #6045fa;    
}

*{
    box-sizing: border-box;
    position: relative;
}

body{
    background-color: var(--dark-grey);
}

.btn{
    background-image: linear-gradient(45deg, var(--red), var(--orange));
}

.header{
    display: flex;    
    align-items: center;
    height: 60px;    
    padding: 8px 0;
    border-bottom: 1px solid #2f3542;
    background-color: var(--dark-grey);
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
}

.app--heading{
    color: var(--white);   
    margin: 0; 
}

.divider{
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    border-width: 0;
    border-top: 1px solid #2f3542;
}

.create-new-btn{ 
    margin-left: auto;
    margin-bottom: 0;
    padding: 0 10px;
    border: none; 
    color: #ddd;   
    vertical-align: middle; 
}
.create-new-btn img{
    vertical-align: middle;
    margin: 0;
}

.modal{  
    display: none;
    place-content: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.233);
    backdrop-filter: blur(2px);
}

form{
    margin-bottom: 0;
    width: 310px;
    margin-left: auto;
    margin-right: auto;   
    background-color: var(--dark-grey);
    color: var(--off-white);
    padding: 2rem;    
    border-radius: 10px;
}

form > h5{
    text-align: center;
    color: var(--white);
    margin-bottom: 0;
}

#alert{
    color: var(--red);
}

#createNew{
    background-image: linear-gradient(45deg, var(--red), var(--orange));  
    border-color: var(--red);
}

.todo{  
    width: 100%;     
    margin-top: 1rem;
    background-color: var(--dark-grey2);
    /* background-image: linear-gradient(45deg, var(--red), var(--orange)); */
    position: relative;   
    padding: 1rem;  
    color: var(--off-white);
    border-radius: 4px;
}

.complete{
    opacity: .5;
    text-decoration: line-through;
}

.todo > .options{
    position: absolute;
    right: 1rem;
    top: 1.5rem;
    display: flex;
    gap: 1rem;
}

.options > img{   
   cursor: pointer;   
}